.waitlist__customers {
  background-color: hsl(242.07, 100%, 94.31%);
}

/* Leave Review Component */
.review__components {
  border-style: none;
  width: 5rem;
  height: 5rem;
}

.review__components-svg1 {
  background-image: url("../images/satisfied_1.svg");
  background-size: cover;
}
.review__components-svg2 {
  background-image: url("../images/satisfied_2.svg");
  background-size: cover;
}
.review__components-svg3 {
  background-image: url("../images/satisfied_3.svg");
  background-size: cover;
}
.review__components-svg4 {
  background-image: url("../images/satisfied_4.svg");
  background-size: cover;
}
.review__components-svg5 {
  background-image: url("../images/satisfied_5.svg");
  background-size: cover;
}

/* Party Size Component */
.party-size__component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

.party-size__component-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
